*{
    margin: 0;
    padding:0;
}


.container{
    width: 100%;
    background-color:whitesmoke;
    color: black;
    
}


.nav-bar{
    width: 80%;
    background: linear-gradient(45deg, rgb(6, 107, 6) 30%, rgb(101, 27, 131) 45%); 
    margin: auto;
    height: 60px;
    justify-content: center;
    box-shadow: 0 0 5px rgb(102, 75, 75);

}
.nav-bar>ul{
    display: inline-block;
    width: 50%;
    height: 60px;
}
.img{
    
    background: linear-gradient(45deg, rgb(6, 107, 6) 30%, rgb(101, 27, 131) 45%); 
}
.bg-img{
    position: relative;
}

.btn{
    background-color: black;
    color: white;
    width: 3%;
    position: absolute;
    top: 50%;
    right: 15%;
    padding: 10px;


}
.btn>p>a{
    text-transform: capitalize;
    text-decoration: none;
}
.nav-bar>ul>li{
   display: inline-block;
    list-style-type: none;
}
.cont-container{
    width: 100%;
}
.img-linergradient{
    background: linear-gradient(50deg, rgba(22, 14, 14, 0.685)50%rgba(42, 38, 100, 0.5) 45%);
}
.item-head{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-around;
   
}
.item-head>div{
  flex: 1;
  width: 25%;
  
}
.nav-bar>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-bar>ul>li>a:hover{
    text-decoration: line-through;
    color: black;
   
}
.address-bar{
    width: 80%;
   margin: auto;
   position: relative;
    
}
.share{
    display: inline;
    margin-left: 10px;
}
.nav-bar{
    position: sticky;
    top: 0%;
    z-index: 999;
}
.address-bar>span{
    text-transform: capitalize;
    color: rgb(18, 30, 34);
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*.b-img{
  width: 100%;
    background: url(images/bg.svg);
}
*/
.img{
    width: 80%;
    margin: auto;

}
.img>img{
    width: 100%;
}


.img-container{
    width: 80%;
    margin: auto;
    background-color: rgba(179, 180, 185, 0.39);
}

.items-container{
    width: 80%;
display: flex;
justify-content:space-around;
margin:auto;   
}
.aside-right{
    width: 50%;
}
.aside-left{
    width: 40%;
}
.aside-right,.aside-left{
    padding-top: 10px;
}
.skills{
    width: 100%;
    margin-top: 30px;
   
}
.skills-head{
    width: 80%;
    padding-top: 10px;
    background-color: rgba(206, 212, 218, 0.486);
    margin: auto;
}

.skill-para{
    margin-top: 1.5em;
}

.skills-now{
    width: 100%;

}
.para{
    width: 80%;
    margin:auto;
    justify-content: space-around;
    margin-top: 30px;
}

.item1{
    width: 100%;
    height: 30px;
    margin-top: 30px;
    background-color: white;
    overflow: hidden;
}

.item-group{
    width: inherit;
    height: inherit;
    background-color: aqua;
    
}

.skills-now1{
    width: 100%;
}
.para1{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    
}
.item2{
    width: 100%;
    background-color: white;
    margin-top: 23px;
    height: 30px;
    overflow: hidden;
}
.item-group1{
    width:100%;
    height: 30px;
    background-color: aqua;
    

}
.skills-Know{
    width: 100%;
}
.para2{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.itemed{
    width: 80%;
    background-color: white;
    margin-top: 23px;
    height: 30px;
    overflow: hidden;
}
.item-group2{
    width:inherit;
    height: 30px;
    background-color: aqua;
    
}
.skills-no{
    width: 100%;
}
.para3{
    width: 80%;
    margin: auto; 
    margin-top: 30px;
}
.item3{
    width: 80%;
    background-color: white;
    margin-top: 23px;
    height: 30px;
    overflow: hidden;
}
.item-group3{
    width:90%;
    height: 30px;
    overflow: hidden;
    background-color: aqua;
}
.skills-now3{
    width: 100%;
}
.para4{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.item4{
    width: 80%;
    margin-top: 23px;
    background-color: white;
    height: 30px;
    overflow: hidden;
}
.item-group4{
    width: inherit;
    background-color: aqua;
    height: inherit;
}
.skills-now5{
    width: 100%;
}
.para6{
    width: 80%;
   margin: auto;
   margin-top: 30px;

}
.item6{
    width: 100%;
    margin-top: 23px;
    background-color: white;
    box-shadow: 10px 0 8px white;
    height: 30px;
    overflow: hidden;
}
.item-group6{
    width: 70%;
    height: inherit;
    background-color: aqua;
    height: inherit;
}

.edu{
    width: 100%;
    margin-top:30px;
}
.edu-para{
    width: 80%;
   
    margin: auto;
}
.paid{
    margin-top: 1em;
}

.flex{
    width:100%; 
    margin-top: 20px;
}
.flex-group{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}

.flex-group>div{
    flex: 1;
    margin: 0 8px;
    border: 1px solid rgb(94, 94, 163);
    box-shadow: 0 0px 10px solid rgb(42, 89, 150);
}

.p-date{
    text-align: center;
}
.edu-img>img{
    width: 100%;
    height: 50%;
}

.edu-img-h3{
    text-align: center;
    
}
.edu-img>p{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.blog{
    width: 100%;
    
}
.blog-head{
    width: 80%;
     margin: auto;
     margin-top: 1.5em;
     
   
}
.blog-head>h2{
    text-align: start;
    margin-left: 0px;
}
.blog-para{
    margin-top: 1em;
    height: 200px;
    width: 80%;
}
.blog-images{
    width: 100%;
    margin-top: 2em;
}
.img-item-blog{
    width: 80%;
    margin: auto;
    justify-content: space-around;
    display: flex;
}
.img-item-blog>div{
    flex: 1;
   
}
.blog-para1{

    margin-top: .8em;
}
.blog-para2{
    margin-top: .8em; 
}
.blog-paar{
    margin-top: .8em;
}
.blog-header{
    margin-top: 1.2em;
}
.img-item-blog h5{
    margin-top: .5em;

}

.img-item-blog img{
    width: 90%;
    height: 80%;
    border: 4px unset blue;
}
.button{
    width: 20%;
    display: inline-block;
    margin-left: 100px;
   
}
.button>input{
    background-color:rgba(134, 151, 145, 0.377);
    border-radius: 100%;
}
.img-item3 h3{
    margin-top: .5em;
}
.img-item1 h3{
    margin-top: .5em;
}
.img-item2 h3{
    margin-top: .5em;
}
 
/*///////////////////////////contact page/////////////*/

   



.item-of-group>div{
    flex: 1;
  
    
  }
  .item-of-group{
    display: flex;
    margin: auto;
    background-color: aquamarine;
    width: 80%;
    margin-top: 3.5em;
    justify-content: space-around;
   
}
.header-contacts{
    width: 80%;
    margin: auto;
}
    

.cont-h{
    text-align: center;
    border-bottom: 2px solid blue;
    transition-property: all;
    transition-duration: 3s;
}
.cont-h:hover{
    background-color: gainsboro;
    color: black;
}

.footer-area{
    width: 90%;
    display: flex;
    color: white;
    background:rgba(20, 10, 10, 0.801);
    margin: auto;
    margin-top: 3em;
    justify-content: space-evenly;
}
.footer-area>div{
    width: 29%;
    margin: 0 10px;
    
}
.middle{
    width:20%;
    display: inline;
    margin-left: -5px;
}
.middle>p{
    padding: .7em;
}
.links>li{
    margin-top: .3em;
    list-style-type: none;
    border: 1px solid black;
   
}

.links>li>a{
    padding: .6em;
    transition-property: all;
    transition-duration: 3s;
    text-decoration: none;
    display: block;
    color: white;
}
.links>li>a:hover{
    background-color: azure;
    color: black;
}
.footer-right>h4{
    margin-left: 4em;
}
.header-contacts{
    margin-top: .8em;
}
.footer-social{
    display: inline-block;
}
.active{
    border-bottom: 2px solid blueviolet;
    margin: 0 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.footer-area h4{
    text-align: center;
}
.footer-left{
    margin-left: .5em;
}
.para-txt{
    margin: .8em 0;
}
.footer-middle{
    margin-left: .6em;
}
.links{

    margin: .9em 0 ;

}
.heading-three{
    margin: .6em 0;
}

